/**
 * @name Snowey
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness.
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @website https://gibbu.me
 * @authorId 174868361040232448
 * @BDEditor Frosted Glass
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/IuqJoL0.jpeg');
  --background-image-blur: 4px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: url('https://i.imgur.com/gXef2QW.jpeg');
  --popout-image-blur: 4px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: var(--background-image);
  --overlay-image-blur: 5px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://i.imgur.com/1w7Td9y.png');
  --home-button-size: 150%;
  --home-button-position: center;
  --serverlist-brightness: 0.8;
  --left-brightness: 0.48;
  --middle-brightness: 0.6;
  --right-brightness: 0;
  --overlay-brightness: 0.36;
  --gradient-primary: 130,216,255;
  --gradient-secondary: 77,102,246;
  --link-colour: #00b0f4;
  --scrollbar-colour: rgb(250,159,159,0.09);
  --gradient-direction: 193deg;
  --tint-colour: 255,67,167;
  --tint-brightness: 0;
  --font: Montserrat;
  --window-padding: 14px;
  --window-roundness: 19px;
  --update-notice-1: none;
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 0px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 1.5px;
  --rs-avatar-shape: 27%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */


